---
name: track_iphone
header: light
---

<section id="track_iphone_banner">
  <div class="track_iphone">
		<img alt="<%= I18n.t("track_iphone.icon.alt") %>" src="/images/icon-track-iphone.png">
    <h1><%= I18n.t("track_iphone.name") %></h1>
    <h2><%= I18n.t("track_iphone.device") %></h2>
  </div>
</section>
<section id="product_screenshot">
	<img alt="<%= I18n.t("track_iphone.screenshot.alt") %>" src="/images/<%= I18n.t("track_iphone.screenshot.src") %>">
</section>
<section id="track_iphone_why">
  <div class="wrapper">
    <h1><%= t "track_iphone.why.title" %></h1>
    <p><%= t "track_iphone.why.detail" %></p>
  </div>
</section>
<section id="track_iphone_benefit">
  <div class="wrapper">
		<% %W(weight water mood target).each do |benefit| %>
			<div class="item">
				<h3 class="<%= benefit %>"><i class="fa fa-circle-o"></i><%= I18n.t("track_iphone.benefit.#{benefit}.title") %></h3>
				<p><%= I18n.t("track_iphone.benefit.#{benefit}.detail") %></p>
			</div>
		<% end %>
    <div class="clearfix"></div>
  </div>
</section>
<section id="track_iphone_feature">
  <div class="wrapper">
		<% { photo: "fa-photo", diary: "fa-pencil", weight: "fa-balance-scale", bmi: "fa-stethoscope", bfr: "fa-user-md", water: "fa-tint", mood: "fa-smile-o", target: "fa-bullseye", timeline: "fa-list-ul", calendar: "fa-calendar", analysis: "fa-bar-chart", icloud: "fa-cloud" }.each do |feature, icon| %>
			<div class="item">
				<h4><i class="fa <%= icon %>"></i><%= I18n.t("track_iphone.feature.#{ feature.to_s }.title") %></h4>
				<p><%= I18n.t("track_iphone.feature.#{ feature.to_s }.detail") %></p>
			</div>
		<% end %>
    <div class="clearfix"></div>
  </div>
</section>
<section id="track_iphone_buy">
	<a href="<%= I18n.t("track_iphone.campaign") %>" title="<%= I18n.t("track_iphone.buy") %>"><%= I18n.t("track_iphone.download") %></a>
</section>
<section id="track_iphone_secondary">
	<a href="/images/<%= I18n.t("track_iphone.press_kit_zip") %>" title="<%= I18n.t("track_iphone.press_kit") %>"><i class="fa fa-download"></i>&nbsp;&nbsp;<%= I18n.t("track_iphone.press_kit") %></a>
</section>
