---
name: workout_iphone
header: light
app: 1176523430
---

<section id="workout_iphone_banner">
  <div class="workout_iphone">
		<img alt="<%= I18n.t("workout_iphone.icon.alt") %>" src="/images/icon-workout-iphone.png">
    <h1><%= I18n.t("workout_iphone.name") %></h1>
    <h2><%= I18n.t("workout_iphone.device") %></h2>
  </div>
</section>
<section id="product_screenshot">
	<img alt="<%= I18n.t("workout_iphone.screenshot.alt") %>" src="/images/<%= I18n.t("workout_iphone.screenshot.src") %>">
</section>
<section id="workout_iphone_buy">
	<a href="<%= I18n.t("workout_iphone.campaign") %>" title="<%= I18n.t("workout_iphone.buy") %>"><%= I18n.t("workout_iphone.download") %></a>
</section>
