<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title><%= current_page.data.title %> - <%= I18n.t "products.#{ current_page.data[:product] + "_" + current_page.data[:device] }.name" %>&nbsp;<%= I18n.t "products.#{ current_page.data[:product] + "_" + current_page.data[:device] }.device" %> - Wuhoo</title>
		<meta name="description" content="<%= current_page.data.title %> - <%= I18n.t "products.#{ current_page.data[:product] + "_" + current_page.data[:device] }.name" %>&nbsp;<%= I18n.t "products.#{ current_page.data[:product] + "_" + current_page.data[:device] }.device" %> - Wuhoo">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag "modernizr-2.8.3.min" %>
	</head>
	<body>
		<%= partial "header" %> 
		<section id="guide">
			<div class="wrapper">
				<div id="article">
					<h1 class="title"><%= current_page.data.title %></h1>
					<%= yield %>
				</div>
				<ul id="sidebar">
					<% blog.articles.select {|a| a.lang.to_s == I18n.locale.to_s && a.data[:product] + "_" + a.data[:device] == current_page.data[:product] + "_" + current_page.data[:device] }.each do |article| %>
						<li><i class="fa fa-file-text-o"></i><a href="<%= article.url %>"><%= article.title %></a></li>
					<% end %>
				</ul>
				<div class="clearfix"></div>
			</div>
		</section>
		<%= partial "footer" %>
	</body>
</html>
