<!doctype html>
<html class="no-js">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<title><%= I18n.t "#{ current_page.data.name }.title" %></title>
		<meta name="description" content="<%= I18n.t "#{ current_page.data.name }.description" %>">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="apple-touch-icon" href="apple-touch-icon.png">
    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag "modernizr-2.8.3.min" %>
	</head>
	<body>
		<%= partial "header" %> 
		<%= yield %>
		<%= partial "footer" %>
	</body>
</html>
