---
name: guides
---

<section id="guides">
	<div class="wrapper">
		<% ['workout_iphone', 'calorie_ios', 'nutrition_faq', 'purchase_faq'].each do |category| %>
		<div class="item">
			<h3><a name="<%= category %>"><%= I18n.t("products.#{category}.name") %>&nbsp;<%= I18n.t("products.#{category}.device") %></a></h3>
			<ul>
				<% blog.articles.select { |a| a.lang.to_s == I18n.locale.to_s && a.data[:product] + "_" + a.data[:device] == category }.each do | article| %>
					<li><i class="fa fa-file-text-o"></i><a href="<%= article.url %>"><%= article.title %></a></li>
				<% end %>
			</ul>
		</div>
		<% end %>
		<div class="clearfix"></div>
	</div>
</section>
