---
name: products
---

<section id="products">
	<div class="wrapper">
		<a title="<%= I18n.t "products.calorie_ios.name" %>" href="<%= locale_path "ios/calorie" %>">
			<img alt="<%= I18n.t "products.calorie_ios.name" %>" src="/images/icon-calorie-ios.png">
			<h3><%= I18n.t "products.calorie_ios.name" %></h3>
			<p><%= I18n.t "products.calorie_ios.device" %></p>
		</a>
		<a title="<%= I18n.t "products.calorie_mac.name" %>" href="<%= locale_path "mac/calorie" %>">
			<img alt="<%= I18n.t "products.calorie_mac.name" %>" src="/images/icon-calorie-mac.png">
			<h3><%= I18n.t "products.calorie_mac.name" %></h3>
			<p><%= I18n.t "products.calorie_mac.device" %></p>
		</a>
		<a title="<%= I18n.t "products.workout_iphone.name" %>" href="<%= locale_path "iphone/workout" %>">
			<img alt="<%= I18n.t "products.workout_iphone.name" %>" src="/images/icon-workout-iphone.png">
			<h3><%= I18n.t "products.workout_iphone.name" %></h3>
			<p><%= I18n.t "products.workout_iphone.device" %></p>
		</a>
		<a title="<%= I18n.t "products.walk_iphone.name" %>" href="#">
			<img alt="<%= I18n.t "products.walk_iphone.name" %>" src="/images/icon-walk-iphone.png">
			<h3><%= I18n.t "products.walk_iphone.name" %></h3>
			<p><%= I18n.t "products.walk_iphone.device" %></p>
		</a>
		<div class="clearfix"></div>
	</div>
</section>
