---
title: Wuhoo
description: Awesome apps for healthy lifestyle
---

<section>
	<div>
		<div>
			<h2><%= I18n.t "calorie_ios.name" %></h2>
			<p><%= I18n.t "calorie_ios.device" %></p>
		</div>
		<div>
			<h2><%= I18n.t "calorie_mac.name" %></h2>
			<p><%= I18n.t "calorie_mac.device" %></p>
		</div>
		<div>
			<h2><%= I18n.t "track_iphone.name" %></h2>
			<p><%= I18n.t "track_iphone.device" %></p>
		</div>
		<div>
			<h2><%= I18n.t "timer_ios.name" %></h2>
			<p><%= I18n.t "timer_ios.device" %></p>
		</div>
	</div>
</section>
