---
name: calorie_ios
header: light
app: 744835140
---

<section id="calorie_ios_banner">
	<div>
		<img alt="<%= I18n.t("calorie_ios.icon.alt") %>" src="/images/icon-calorie-ios.png">
		<h1><%= I18n.t("calorie_ios.name") %></h1>
		<h2><%= I18n.t("calorie_ios.device") %></h2>
	</div>
</section>
<section id="product_screenshot">
	<img alt="<%= I18n.t("calorie_ios.screenshot.alt") %>" src="/images/<%= I18n.t("calorie_ios.screenshot.src") %>">
</section>
<section id="calorie_ios_benefit">
  <div class="wrapper">
		<% { why: "fa-question-circle", how: "fa-info-circle", do: "fa-check-circle" }.each do |benefit, icon| %>
			<div class="item">
				<i class="fa <%= icon %>"></i>
				<p><%= I18n.t("calorie_ios.benefit.#{ benefit.to_s }") %></p>
			</div>
		<% end %>
    <div class="clearfix"></div>
  </div>
</section>
<section id="calorie_ios_feature">
  <div class="wrapper">
		<% { search: "fa-search", categories: "fa-folder-open", brands: "fa-shopping-cart", logs: "fa-edit", recommend: "fa-thumbs-o-up", daily: "fa-calendar", icloud: "fa-cloud", desktop: "fa-desktop" }.each do |feature, icon| %>
			<div class="item">
				<h4><i class="fa <%= icon %>"></i><%= I18n.t("calorie_ios.feature.#{ feature.to_s }.title") %></h4>
				<p><%= I18n.t("calorie_ios.feature.#{ feature.to_s }.detail") %></p>
			</div>
		<% end %>
    <div class="clearfix"></div>
  </div>
</section>
<section id="calorie_ios_buy">
	<a href="<%= I18n.t("calorie_ios.campaign") %>" title="<%= I18n.t("calorie_ios.buy") %>"><%= I18n.t("calorie_ios.download") %></a>
</section>
<section id="calorie_ios_secondary">
	<a href="/images/<%= I18n.t("calorie_ios.press_kit_zip") %>" title="<%= I18n.t("calorie_ios.press_kit") %>"><i class="fa fa-download"></i>&nbsp;&nbsp;<%= I18n.t("calorie_ios.press_kit") %></a>
</section>
